/* ===== Estilos generales ===== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
  --brand:#111827;
  --accent:#ffcc00;
}
body{
  font-family: 'Poppins', sans-serif;
  background:#f4f6f8;
  margin:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
a { text-decoration:none; }
.container-main{ padding:2rem 1rem; }
